:root {
	--title-color: #131313;
	// --subtitle-color: #757575;
	--active-color: #F8D24E;;
	--background-color: #84A178;;
	// --background-team: #F5F4FA;
	// --icons: #AFB1B8;
	// --indent: 30px;
	// --items: 1;
	--slow-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	// --border-color: #eee;
	--active-btn: #0A8817;
	--secondary-color:#AEC6A5;
	--secondary-color01:#EFD478;;
	--secondary-color02:#D6936D;
	--primary-color: #FCFCFC;
}