/*
	|=============================
	|  NAVIGATION
	|=============================
*/

.header-hero {
	background-color: var(--background-color);
	background-image: url(/images/hero/dotes-desk.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:bottom;	
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* .logo {
} */
.navigation {

		// .navigation__list

		&__list {
			display: flex;
			gap: 28px;

		}

		// .navigation__item

		&__item {
		}

		// .navigation__link

		&__link {
			font-weight: 700;
			font-size: 16px;
			color: var(--primary-color);
			transition: color var(--slow-anim);
			&:hover, &:focus{
				color: var(--active-color);
			}
		}
}
.header {

		// .header__btn

		&__btn {
			cursor: pointer;
			display: flex;
			gap: 4px;
			padding: 12px 35px;
			font-weight: 600;
			&:focus{				
				fill: var(--primary-color);
			}
		}
}



/*
	|=============================
	|  HERO
	|=============================
*/


.hero-container {
	display: flex;
	position: relative;
	padding-top: 50px;
	padding-bottom: 65px;
	justify-content: space-between;
}
	
.hero-left {

		// .hero-left__item

		&__item {
			max-width: 200px;
		}
}
.hero-title {
	margin-bottom: 28px;
	font-family: 'Seymour One', sans-serif;
	text-transform: uppercase;
	color: var(--primary-color);
	letter-spacing: 1.52px;
	font-weight: 400;
	font-size: 36px;
	width: 367px;
}
.hero-btns {
	margin-bottom: 42px;
}
.product-btn{
	padding: 12px 34px;
	font-size: 14px;
	font-weight: 600;
	margin-right: 34px;
}
.hero-content {
	display: flex;
	align-items: center;
	gap: 16px;
}
.hero-img {

		// .hero-img__left

		&__left {
		}

		// .hero-img__right

		&__right {
			position: absolute;
			bottom: 0;
			right: 92px;
		}
}
.hero-text {
	color: #fff;
	font-size: 14px;
	line-height: 1.4;
	width: 200px;
	font-family: 'DM Sans', sans-serif;
	padding-bottom: 24px;
}
.hero-more {
	fill: var(--primary-color);
}

.hero-right {
	display: flex;
	// position: relative;
}
.hero-count {

		// .hero-count__item
		
		&__item {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			color: var(--primary-color);
			font-size: 14px;
		}
}
.count {
	font-size: 46px;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--title-color);
	letter-spacing: 1.84px;
	text-align: right;
}
