/*
	|=============================
	|  NAVIGATION
	|=============================
*/

.header-hero {
	background-color: var(--background-color);
	background-image: url(/images/hero/dotes-desk.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:bottom;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* .logo {
} */
.navigation {

		// .navigation__list

		&__list {
			display: flex;
			gap: 28px;

		}

		// .navigation__item

		&__item {
		}

		// .navigation__link

		&__link {
			font-weight: 700;
			font-size: 16px;
			color: var(--primary-color);
			transition: color var(--slow-anim);
			&:hover, &:focus{
				color: var(--active-color);
			}
		}
}
.header {

		// .header__btn

		&__btn {
			cursor: pointer;
			display: flex;
			gap: 4px;
			padding: 12px 35px;
			background-color: var(--active-color);
			border-radius: 10px;
			border: none;
			align-items: center;
			font-weight: 600;
			transition: background-color var(--slow-anim);
			&:hover{
				background-color: var(--active-btn);
			}
			&:focus{
				background-color: var(--active-btn);
				color: var(--primary-color);
				fill: var(--primary-color);
			}
		}
}



/*
	|=============================
	|  HERO
	|=============================
*/


.hero-container {
	display: flex;
	position: relative;
}
	
.hero-left {

		// .hero-left__item

		&__item {
			max-width: 200px;
		}
}
.hero-title {
	margin-top: 50px;
	margin-bottom: 28px;
	font-family: 'Seymour One', sans-serif;
	text-transform: uppercase;
	color: var(--primary-color);
	letter-spacing: 1.52px;
	font-weight: 400;
	font-size: 36px;
	width: 367px;
}
.hero-btns {
	.product-btn{
		cursor:  pointer;
		padding: 12px 34px;
		border-radius: 10px;
		background-color: transparent;
		border: 2px solid var(--active-color);
		color: var(--title-color);
		font-size: 14px;
		font-family: inherit;
		font-weight: 600;
		transition: border var(--slow-anim);
		&:hover{
			border: 2px solid var(--active-btn);
		}
		&:focus{
			background-color: var(--active-btn);
			color: var(--primary-color);
		}
	}
	.link-btn{}
}
.hero-content {
	display: flex;
}
.hero-img {

		// .hero-img__left

		&__left {
		}

		// .hero-img__right

		&__right {
			position: absolute;
			bottom: 0;
		}
}
.hero-text {
}
.hero-more {
}

.hero-right {
	display: flex;
	// position: relative;
}
.hero-count {

		// .hero-count__item

		&__item {
		}
}
.count {
}
